.portfolio__info {
    margin: 50px 0px;
    border-top: 1px solid $light-green;
    border-bottom: 1px solid $light-green;
    padding: 20px 0px;
    position: relative;
    background: rgba($color: $light-green, $alpha: 0.5);
    text-align: center;
    font-weight: 700;
    box-shadow: 0px 0px 70px 10px rgba($color: $light-green, $alpha: 0.5);
}
@mixin btn-border-drawing(
    $color: #ccc,
    $hover: black,
    $width: 2px,
    $vertical: top,
    $horizontal: left,
    $duration: 0.25s
) {
    &::before,
    &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: "";
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        #{$vertical}: 0;
        #{$horizontal}: 0;
    }

    &::before {
        $h-side: if($horizontal == "left", "right", "left");

        border-#{$vertical}-width: $width;
        border-#{$h-side}-width: $width;
    }

    &::after {
        $v-side: if($vertical == "top", "bottom", "top");

        border-#{$v-side}-width: $width;
        border-#{$horizontal}-width: $width;
    }

    &:hover {
        &::before,
        &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
        }

        &::before {
            transition-delay: 0s, 0s, $duration;
        }

        &::after {
            transition-delay: 0s, $duration, 0s;
        }
    }
}
.portfolio__card {
    border-bottom: 1px solid $light-green;
    position: relative;
    padding: 20px 20px 0px 20px;
    transition: 0.5s ease-in-out;
    @include btn-border-drawing(#58afd1, $light-green, 2px, bottom, left);
    .portfolio__img {
        height: 250px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.5s ease-in-out;
        }
    }
    .portfolio__card__info {
        display: flex;
        align-items: center;
        height: 50px;
        .card__name {
            margin-bottom: 0;
            margin-right: 30px;
            color: $light-green;
        }
        .github {
            display: flex;
            align-items: center;
            i {
                font-size: 30px;
                margin-right: 10px;
            }
            h5 {
                margin: 0;
            }
        }
    }
    &:hover {
        box-shadow: 0px 0px 70px 10px rgba($color: $light-green, $alpha: 0.5);
        .portfolio__img {
            img {
                transform: scale(1.1);
            }
        }
    }
}

/*---------------Media Queries--------------*/
@media (min-width: 767px) and(max-width: 1200px) {
    .portfolio__card {
        padding: 10px 10px 0px 10px;
        .portfolio__img {
            height: 150px;
            max-height: 200px;
        }
        .portfolio__card__info {
            height: 30px;
            .card__name {
                font-size: 16px;
                margin-right: 20px;
            }
            .github {
                i {
                    font-size: 15px;
                    margin-right: 5px;
                }
                h5 {
                    font-size: 16px;
                    margin: 0;
                }
            }
        }

    }
}
