@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
nav {
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav .logo:hover {
  box-shadow: 0px 0px 70px 10px rgba(75, 255, 165, 0.5);
}
nav .nav__items {
  display: flex;
  margin: 0;
  padding: 0;
}
nav .nav__items li {
  list-style: none;
  font-size: 18px;
  overflow: hidden;
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: 0.5s ease;
}
nav .nav__items li::before, nav .nav__items li::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
}
nav .nav__items li::before {
  border-bottom-width: 1px;
  border-right-width: 1px;
}
nav .nav__items li::after {
  border-top-width: 1px;
  border-left-width: 1px;
}
nav .nav__items li:hover::before, nav .nav__items li:hover::after {
  border-color: #4bffa5;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
nav .nav__items li:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
nav .nav__items li:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
nav .nav__items li a {
  color: white;
  transition: 0.3s ease-in-out;
  padding: 5px 10px;
}
nav .nav__items li:hover {
  background: rgba(75, 255, 165, 0.1);
  box-shadow: 0px 0px 70px 10px rgba(75, 255, 165, 0.5);
}
nav .mobile__menu {
  display: none;
}

/*---------------Media Queries--------------*/
@media (max-width: 767px) {
  nav {
    display: flex;
    align-items: unset;
    justify-content: space-between;
    height: 200px;
    padding: 20px 0px;
  }
  nav .logo {
    width: 80px;
    height: 70px;
  }
  nav .nav__items {
    display: none;
  }
  nav .mobile__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    gap: 12px;
  }
  nav .mobile__menu .mobile__nav__btn {
    width: 46%;
    height: 50%;
    list-style: none;
    display: flex;
  }
  nav .mobile__menu .mobile__nav__btn a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  nav .mobile__menu .mobile__nav__btn i {
    font-size: 25px;
    margin-bottom: 5px;
  }
  nav .mobile__menu .mobile__nav__btn p {
    margin: 0;
  }
  nav .mobile__menu .home {
    border: 1px solid #4bffa5;
    box-shadow: #4bffa5 0px 2px 10px 2px;
  }
  nav .mobile__menu .home i,
  nav .mobile__menu .home p {
    color: #4bffa5;
  }
  nav .mobile__menu .portfolio {
    border: 1px solid red;
    box-shadow: red 0px 2px 10px 2px;
  }
  nav .mobile__menu .portfolio i,
  nav .mobile__menu .portfolio p {
    color: red;
  }
  nav .mobile__menu .resume {
    border: 1px solid #00A3FF;
    box-shadow: #00A3FF 0px 2px 10px 2px;
  }
  nav .mobile__menu .resume i,
  nav .mobile__menu .resume p {
    color: #00A3FF;
  }
  nav .mobile__menu .contact {
    border: 1px solid yellow;
    box-shadow: yellow 0px 2px 10px 2px;
  }
  nav .mobile__menu .contact i,
  nav .mobile__menu .contact p {
    color: yellow;
  }
}
#hero .hero__img {
  height: 500px;
  overflow: hidden;
}
#hero .hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#hero .hero__text {
  margin: 30px 0px;
}
#hero .hero__text span {
  font-size: 50px;
  font-weight: 700;
  display: inline-block;
  transition-duration: 0.3s;
}
#hero .hero__text span:hover {
  color: #4bffa5;
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 50%, #000 10%, rgba(0, 0, 0, 0.6) 100%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
  cursor: none;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
#hero .hero__text .space {
  margin-right: 15px;
}

@media (max-width: 767px) {
  #hero {
    padding: 50px 0px;
  }
  #hero .hero__img {
    max-height: 250px;
    height: 250px;
  }
  #hero .hero__text {
    max-height: 100px;
    height: 100px;
    margin: 30px 0px;
  }
  #hero .hero__text span {
    font-size: 6vw;
    color: #4bffa5;
  }
  #hero .hero__text .space {
    margin-right: 10px;
  }
}
@media (min-width: 767px) and (max-width: 1400px) {
  #hero .hero__img {
    max-height: 300px;
    height: 300px;
  }
  #hero .hero__text {
    margin: 30px 0px;
  }
  #hero .hero__text span {
    font-size: 35px;
    color: #4bffa5;
  }
  #hero .hero__text .space {
    margin-right: 7px;
  }
}
.footer__info {
  height: 100px;
  display: flex;
  align-items: center;
}
.footer__info h1 {
  font-size: 60px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(200) 1s infinite alternate;
}
.footer__info h1 span {
  color: #4bffa5;
  font-weight: 600;
}
@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 20ch;
  }
}

@media (max-width: 767px) {
  .footer__info {
    height: 100px;
  }
  .footer__info h1 {
    font-size: 30px;
    animation: typing 2s steps(200) 1s infinite alternate;
  }
  .footer__info h1 span {
    color: #4bffa5;
    font-weight: 600;
  }
  @keyframes typing {
    from {
      width: 0ch;
    }
    to {
      width: 17ch;
    }
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .footer__info {
    height: 100px;
  }
  .footer__info h1 {
    font-size: 50px;
    animation: typing 2s steps(200) 1s infinite alternate;
  }
  .footer__info h1 span {
    color: #4bffa5;
    font-weight: 600;
  }
  @keyframes typing {
    from {
      width: 0ch;
    }
    to {
      width: 17ch;
    }
  }
}
#resume .resume__navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4bffa5;
  margin-top: 100px;
  padding-bottom: 20px;
}
#resume .resume__navbar button {
  --c: #4bffa5;
  color: #4bffa5;
  background: transparent;
  border: 1px solid #4bffa5;
  width: 170px;
  padding: 12px 0px;
  position: relative;
  overflow: hidden;
  font-size: 18px;
  z-index: 1;
  transition: 0.5s;
  margin-right: 20px;
}
#resume .resume__navbar button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
#resume .resume__navbar button span:nth-child(1) {
  --n: 1;
}
#resume .resume__navbar button span:nth-child(2) {
  --n: 2;
}
#resume .resume__navbar button span:nth-child(3) {
  --n: 3;
}
#resume .resume__navbar button span:nth-child(4) {
  --n: 4;
}
#resume .resume__navbar button:hover {
  color: black;
  box-shadow: 0px 0px 70px 10px rgba(75, 255, 165, 0.3);
}
#resume .resume__navbar button:hover span {
  transform: translateY(0) scale(2);
}
#resume .resume__navbar .active {
  background: #4bffa5;
  color: black;
}
#resume .tab-pane {
  margin-top: 50px;
}
#resume .tab-pane .work__experience {
  position: relative;
  padding: 20px;
}
#resume .tab-pane .work__experience h3 {
  color: #4bffa5;
}
#resume .tab-pane .work__experience span {
  color: #4bffa5;
  font-size: 14px;
  margin-left: 10px;
}
#resume .tab-pane .work__experience li::marker {
  color: #4bffa5;
}
#resume .tab-pane .work__experience::before, #resume .tab-pane .work__experience::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
}
#resume .tab-pane .work__experience::before {
  border-bottom-width: 1px;
  border-right-width: 1px;
}
#resume .tab-pane .work__experience::after {
  border-top-width: 1px;
  border-left-width: 1px;
}
#resume .tab-pane .work__experience:hover::before, #resume .tab-pane .work__experience:hover::after {
  border-color: #4bffa5;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
#resume .tab-pane .work__experience:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
#resume .tab-pane .work__experience:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
#resume .tab-pane .web {
  margin-bottom: 50px;
}
#resume .tab-pane .web h2 {
  margin-bottom: 20px;
  color: #4bffa5;
}
#resume .tab-pane .web .web__content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#resume .tab-pane .web .web__content i {
  width: 45px;
  font-size: 35px;
}
#resume .tab-pane .web .web__content h5 {
  margin-left: 15px;
  margin-bottom: 0;
}
#resume .tab-pane .web .web__content img {
  width: 40px;
  height: 40px;
}
#resume .tab-pane .web .web__content .fa-html5 {
  color: #e34c26;
}
#resume .tab-pane .web .web__content .fa-css3 {
  color: #264de4;
}
#resume .tab-pane .web .web__content .fa-sass {
  color: #cd6799;
}
#resume .tab-pane .web .web__content .fa-bootstrap {
  color: #563d7c;
}
#resume .tab-pane .web .web__content .fa-js {
  color: #f0db4f;
}
#resume .tab-pane .web .web__content .fa-vuejs {
  color: #41b883;
}
#resume .tab-pane .web .web__content .fa-git-alt {
  color: #f1502f;
}
#resume .tab-pane .system h2 {
  margin-bottom: 20px;
  color: #4bffa5;
}
#resume .tab-pane .system .system__content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#resume .tab-pane .system .system__content i {
  color: #4bffa5;
}
#resume .tab-pane .system .system__content h5 {
  margin-left: 15px;
  margin-bottom: 0;
}
#resume .tab-pane .education {
  padding: 20px;
}
#resume .tab-pane .education h3 {
  color: #4bffa5;
}
#resume .tab-pane .education span {
  color: #4bffa5;
  font-size: 14px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  #resume .resume__navbar {
    flex-direction: column;
  }
  #resume .resume__navbar li {
    width: 100%;
  }
  #resume .resume__navbar button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/*---------------Media Queries--------------*/
@media (min-width: 767px) and (max-width: 1200px) {
  #resume .resume__navbar {
    align-items: center;
  }
  #resume .resume__navbar ul {
    width: 300px;
    flex-direction: column;
  }
  #resume .resume__navbar ul button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.contact__info {
  margin: 50px 0px;
  border-top: 1px solid #4bffa5;
  border-bottom: 1px solid #4bffa5;
  padding: 20px 0px;
  position: relative;
  background: rgba(75, 255, 165, 0.5);
  text-align: center;
  font-weight: 700;
  box-shadow: 0px 0px 70px 10px rgba(75, 255, 165, 0.5);
}
.contact__info::before {
  width: 1px;
  height: 50px;
  bottom: -50px;
  left: 50%;
  content: "";
  position: absolute;
  background: #4bffa5;
}

.none__before::before {
  opacity: 0;
}

.info__card {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #4bffa5;
  position: relative;
  transition: 0.5s ease-in-out;
}
.info__card:hover {
  background: rgba(75, 255, 165, 0.1);
  box-shadow: 0px 0px 70px 10px rgba(75, 255, 165, 0.3);
}
.info__card::before {
  content: "";
  width: 1px;
  height: 50px;
  background: #4bffa5;
  position: absolute;
  bottom: -50px;
}
.info__card i {
  font-size: 30px;
  color: #4bffa5;
  margin-bottom: 20px;
}
.info__card h5 {
  margin-bottom: 20px;
  font-weight: 700;
}
.info__card a {
  margin: 0px 10px;
}

form .form__control {
  position: relative;
  margin-bottom: 50px;
}
form .form__control::before {
  content: "";
  width: 1px;
  height: 50px;
  background: #4bffa5;
  position: absolute;
  bottom: -50px;
  left: 50%;
}
form .form__control label {
  position: absolute;
  opacity: 0.3;
  left: 20px;
  color: #4bffa5;
  transition: all 0.5s;
  top: 50%;
  transform: translateY(-50%);
}
form .form__control input,
form .form__control textarea {
  width: 100%;
  padding: 20px;
  background: transparent;
  border: none;
  color: #4bffa5;
  border: 1px solid #4bffa5;
}
form .form__control input:focus + label,
form .form__control input:hover + label,
form .form__control input:valid + label {
  top: 0;
  transform: translateY(-100%);
  left: 0;
  opacity: 1;
}
form .form__control textarea {
  min-height: 200px;
  max-height: 400px;
}
form .form__control textarea:focus + label,
form .form__control textarea:hover + label,
form .form__control textarea:valid + label {
  top: 0;
  transform: translateY(-100%);
  left: 0;
  opacity: 1;
}
form .textarea::before {
  opacity: 0;
}

.submit {
  --c: #4bffa5;
  color: #4bffa5;
  background: transparent;
  border: 1px solid #4bffa5;
  width: 170px;
  height: 50px;
  position: relative;
  overflow: hidden;
  font-size: 18px;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 50px;
}
.submit span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.submit span:nth-child(1) {
  --n: 1;
}
.submit span:nth-child(2) {
  --n: 2;
}
.submit span:nth-child(3) {
  --n: 3;
}
.submit span:nth-child(4) {
  --n: 4;
}
.submit:hover {
  color: black;
}
.submit:hover span {
  transform: translateY(0) scale(2);
}

.portfolio__info {
  margin: 50px 0px;
  border-top: 1px solid #4bffa5;
  border-bottom: 1px solid #4bffa5;
  padding: 20px 0px;
  position: relative;
  background: rgba(75, 255, 165, 0.5);
  text-align: center;
  font-weight: 700;
  box-shadow: 0px 0px 70px 10px rgba(75, 255, 165, 0.5);
}

.portfolio__card {
  border-bottom: 1px solid #4bffa5;
  position: relative;
  padding: 20px 20px 0px 20px;
  transition: 0.5s ease-in-out;
}
.portfolio__card::before, .portfolio__card::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
}
.portfolio__card::before {
  border-bottom-width: 2px;
  border-right-width: 2px;
}
.portfolio__card::after {
  border-top-width: 2px;
  border-left-width: 2px;
}
.portfolio__card:hover::before, .portfolio__card:hover::after {
  border-color: #4bffa5;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.portfolio__card:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.portfolio__card:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.portfolio__card .portfolio__img {
  height: 250px;
  overflow: hidden;
}
.portfolio__card .portfolio__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s ease-in-out;
}
.portfolio__card .portfolio__card__info {
  display: flex;
  align-items: center;
  height: 50px;
}
.portfolio__card .portfolio__card__info .card__name {
  margin-bottom: 0;
  margin-right: 30px;
  color: #4bffa5;
}
.portfolio__card .portfolio__card__info .github {
  display: flex;
  align-items: center;
}
.portfolio__card .portfolio__card__info .github i {
  font-size: 30px;
  margin-right: 10px;
}
.portfolio__card .portfolio__card__info .github h5 {
  margin: 0;
}
.portfolio__card:hover {
  box-shadow: 0px 0px 70px 10px rgba(75, 255, 165, 0.5);
}
.portfolio__card:hover .portfolio__img img {
  transform: scale(1.1);
}

/*---------------Media Queries--------------*/
@media (min-width: 767px) and (max-width: 1200px) {
  .portfolio__card {
    padding: 10px 10px 0px 10px;
  }
  .portfolio__card .portfolio__img {
    height: 150px;
    max-height: 200px;
  }
  .portfolio__card .portfolio__card__info {
    height: 30px;
  }
  .portfolio__card .portfolio__card__info .card__name {
    font-size: 16px;
    margin-right: 20px;
  }
  .portfolio__card .portfolio__card__info .github i {
    font-size: 15px;
    margin-right: 5px;
  }
  .portfolio__card .portfolio__card__info .github h5 {
    font-size: 16px;
    margin: 0;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
}
body .body__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
body #bg {
  position: fixed;
  background: cover;
  background: linear-gradient(145deg, #192839 50%, #1ab4e2 115%);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -2;
}
body #cursor {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
}
body #cursor .cursor__inner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #4bffa5;
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  color: white;
  outline: none;
}/*# sourceMappingURL=style.css.map */